{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
   <div class="text-center">
       <h3>My Symfony 4 sample project</h3>

      {% for item in products %}
        <h1>{{item.prodName}}</h1><br/>
        
        <span>{{item.categoty.catName}}</span>
        
        <hr/>
      {% endfor %}
       
       <div class="jumbotron text-center">
           <product 
              :prproducts='{{ products }}'
            >
            </product>
       </div>
   </div>
{% endblock %}
